
/* navigation and important classes such as font families and shared h1,h2,h3 */
html{
    background-color:white;
    font-family: Futura;
}

@font-face{
    font-family: Genty;
    src: url(GentyDemo-Regular.otf);
}

@font-face{
    font-family: Futura;
    src: url(futura\ medium\ bt.ttf)
}

.sidenavbar{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: whitesmoke;
    overflow-x:hidden;
    padding-top:60px;
    transition: 0.5s;
}

.sidenavbar a{
    padding: 8px 8px 8px 32px;
    text-decoration:none;
    font-size:25px;
    color:#818181;
    display:block;
    transition:0.3s;
}

.sidenavbar .closebutton{
    position:absolute;
    top:0;
    right:25px;
    font-size:36px;
    margin-left:50px;
}

.openbutton{
    font-size:20px;
    cursor:pointer;
    background-color:#111;
    color:white;
    padding: 10px 15px;
    border: none;
}

.openbutton:hover{
    background-color:#444;
}

#openbtn{
    padding: 10px;
}

.h1{
    margin-top: 20px;
    font-family: Genty;
    color: #174098;
    font-size: 50px;
    text-align: center;
}

h3{
    color: #174098;
}

.h2{
    font-family:'Genty';
    color:#174098;
    text-align: center;
    font-size: 38px;
}

.fa{
    padding:10px;
    font-size:50px;
    text-align:center;
    text-decoration:none;
    border-radius:50%;
    position: relative;
    bottom: 10px;
}

.fa-twitter{
    background:#55ACEE;
    color:white;
}

.fa-instagram{
    background:#833Ab4;
    color:white;
}

.fa-youtube{
    background:#FD1d1d;
    color:white;
}

.copyrights{
    color: black;
}

/* discography page */
.discography_header{
    font-family: Genty;
    color: #174098;
    font-size: 67px;
    text-align: center;
}
.Attention{
    overflow:auto;
    margin: auto;
}

.album_cover{
    width:40%;
    margin-left: 10px;
}

.albumdesc{
    font-size: 19px;
    text-align: left;
    color:#174098;
    float: left;
    margin-left: 17%;
}
