
/* navigation and important classes such as font families and shared h1,h2,h3 */
html{
    background-color:white;
    font-family: Futura;
}

@font-face{
    font-family: Genty;
    src: url(GentyDemo-Regular.otf);
}

@font-face{
    font-family: Futura;
    src: url(futura\ medium\ bt.ttf)
}

.sidenavbar{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: whitesmoke;
    overflow-x:hidden;
    padding-top:60px;
    transition: 0.5s;
}

.sidenavbar a{
    padding: 8px 8px 8px 32px;
    text-decoration:none;
    font-size:25px;
    color:#818181;
    display:block;
    transition:0.3s;
}

.sidenavbar .closebutton{
    position:absolute;
    top:0;
    right:25px;
    font-size:36px;
    margin-left:50px;
}

.openbutton{
    font-size:20px;
    cursor:pointer;
    background-color:#111;
    color:white;
    padding: 10px 15px;
    border: none;
}

.openbutton:hover{
    background-color:#444;
}

#openbtn{
    padding: 10px;
}

.h1{
    margin-top: 20px;
    font-family: Genty;
    color: #174098;
    font-size: 50px;
    text-align: center;
}

h3{
    color: #174098;
}

.h2{
    font-family:'Genty';
    color:#174098;
    text-align: center;
    font-size: 38px;
}

.fa{
    padding:10px;
    font-size:50px;
    text-align:center;
    text-decoration:none;
    border-radius:50%;
    position: relative;
    bottom: 10px;
}

.fa-twitter{
    background:#55ACEE;
    color:white;
}

.fa-instagram{
    background:#833Ab4;
    color:white;
}

.fa-youtube{
    background:#FD1d1d;
    color:white;
}

.copyrights{
    color: black;
}

/* merch page */
.shop{
    width:100%;
    position: absolute;
    top:50%;
    transform: translateY(-40%);
    text-align: center;
    color:#174098
}

.products{
    margin: 1px 0;
}

.product_container{
    max-width: 1080px;
    margin: auto;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column{
    flex-basis: 20%;
    padding: 10px;
    min-width: 100px;
    margin-bottom: 50px;
}

.column img{
    width: 100%;
    border-radius: 30px;
    transition: 0.3s;
}

.column img:hover{
    transform: scale(1.05);
    opacity:0.8;
}

.button{
    width:130px;
    padding:10px;
    margin-top:0px;
    margin-bottom:20px;
    border-radius:30px;
    border: 2px solid black;
    cursor: pointer;
}

.button:hover{
    transition:0.3s;
    transform:scale(1.2);
    background-color: rgba(255,255,255,0,6);
    color:black;
    border: 2px solid black;
}